@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html{
    height: 100%;
}

body{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    color: #494949;
    background-color: #F5F5F5;
    position: relative;
    min-height: 100%;
    position: relative;
}

/* Global */
.container{
    width: 95%;
    margin: auto;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: #494949;
}

ul{
    margin: 0;
    padding: 0;
}

/* Header */

header{
    background: #FFFFFF;
    padding-top: 0px;
    box-shadow: 0px 0px 10px;
    margin-bottom: 40px;
}

header a{
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 15px 20px 15px 20px;
}

.logo img{
    width: 40px;
    height: 40px;
    margin-top: 4px;

    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

/*
svg path:hover{
    fill: #6457FE!important;
}
*/

.logo img:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

header .logo{
    float: left;
    margin-left: 2px;
}

header nav{
    float: right;

}

a:hover{
    color: #5f61ac;
}

/* Section */

.box{
    min-width: 400px;
    width: 50%;
    background-color: #ffffff;

    box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.25), 0px 4px 10px rgba(0, 0, 0, 0.25);

    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
}

.box img{
    display: block;
    padding-top: 5%;

    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-bottom: 10px;
}

.box ul li{
    padding-bottom: 10px;
    list-style-type: none;
}

section a{
    color: #494949;
    text-decoration: none;
    font-size: 14px;
    margin-left: 5%;
}

.box ul{
    padding-bottom: 10px;
}

/* personal profile style */

#personalProfileForm img{
    display: block;
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 15%;
    padding-bottom: 0px;

}

#personalProfileForm p{
    font: inherit;
    text-align: center;
    padding-bottom: 20px;
}

#personalProfileForm a{
    display: block;
    color: #494949;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

#personalProfileForm a:hover{
    color: #6457FE;
}

#personalProfileForm input{

    display: block;
    margin: auto;
margin-bottom: 5px;
}

button{
    font-size: 16px;
    display: block;
    margin: auto;
    padding: 8px 16px;
    cursor: pointer;

    background-color: white;
    color: black;
    border: 2px solid #6457FE;
    border-radius: 12px;
}

button:hover {
    transition-duration: 0.4s;
    background-color: #6457FE;
    color: white;
}

.content {
    overflow: hidden;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* personal profile style end */

body::after {
    content: '';
    display: block;
    height: 50px; /* Set same as footer's height */
}

footer{
    color: grey;
    text-align: center;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}