@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html{
    height: 100%;
}

body{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    color: #494949;
    background-color: #F5F5F5;
    position: relative;
    min-height: 100%;
    position: relative;
}

/* Global */
.container{
    width: 95%;
    margin: auto;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: #494949;
}

ul{
    margin: 0;
    padding: 0;
}

/* Header */

header{
    background: #FFFFFF;
    padding-top: 0px;
    box-shadow: 0px 0px 10px;
    margin-bottom: 40px;
}

header a{
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 15px 20px 15px 20px;
}

.logo img{
    width: 40px;
    height: 40px;
    margin-top: 4px;

    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

/*
svg path:hover{
    fill: #6457FE!important;
}
*/

.logo img:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

header .logo{
    float: left;
    margin-left: 2px;
}

header nav{
    float: right;

}

a:hover{
    color: #5f61ac;
}

/* Section */

.box{
    min-width: 400px;
    width: 50%;
    background-color: #ffffff;

    box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.25), 0px 4px 10px rgba(0, 0, 0, 0.25);

    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.box .photo{
    display: block;
    padding-top: 4%;

    margin-left: auto;
    margin-right: auto;
    width: 92%;
    padding-bottom: 2.5%;
    max-height: 600px;
    min-height: 200px;
    object-fit: cover;
}

.box ul li{
    padding-bottom: 1.5%;
    list-style-type: none;
}

section li{
    color: #494949;
    text-decoration: none;
    font-size: 14px;
    margin-left: 4%;
    display: block;
}

section .box ul li img{
    height: 17px;
    width: 17px;
    vertical-align: middle;
    float: left;
    padding: 0 3px 0 0;
    white-space: nowrap;
}

.box ul{
    padding-bottom: 3%;
}





.location {
    position: relative;
    margin-bottom: 30px;
    width: 200px;
}

.location input {
    padding-right: 5px;
    width: 150px;
}

.location img {
    width: 17px;
    height: 17px;
    position: absolute;
    right: 160px;
    padding: 10px 18px;
    pointer-events: none;

    top: -4px;
}

.form-control{
    background-color: white;
    border: 2px solid #5f61ac;
    border-radius: 1px;

    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 5px 5px 5px 23px;
}

button{
    background-color: white;
    border: 2px solid #5f61ac;
    border-radius: 1px;
    cursor: pointer;
}

.form-control-file{
    display: none;
}

.custom-upload {
    border: 2px solid #5f61ac;
    border-radius: 1px;
    background: #c4c4c4;
    display: inline-block;
    /*padding-left: auto;
    padding-right: auto;
    width: 100%;*/
    text-align: center;
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
    cursor: pointer;

    display: block;
    padding-top: 25%;
    padding-bottom: 25%;

    margin-left: auto;
    margin-right: auto;

}

form{
    display: block;
    padding-top: 4%;

    margin-left: auto;
    margin-right: auto;
    width: 92%;
    padding-bottom: 2.5%;
    max-height: 600px;
    min-height: 200px;
    object-fit: cover;
}

/* font: ;ter */

body::after {
    content: '';
    display: block;
    height: 50px; /* Set same as footer's height */
}

footer{
    color: grey;
    text-align: center;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}